@charset "utf-8";
/* CSS Document */

.bandeira {
	position: absolute;
	top: 0px;
	padding-left: 480px;
	
}

#bd {
	height: 135px;
	width: 130px;	
	
}

main {
	padding-left:  451px;
	padding-right: 450px;
}

.printpdf {
	position: absolute;
	left: 1040px;
	top: 70px;
	width: 40px;
	height: 40px;
	
}

#img {
	
	width: 40px;
	height: 40px;
}

.head {
	background-color: darkgreen;
	height: 140px;
}

.head ol {
	text-align: center;
	padding-top: 70px;
	font-size: 22px;
	color: white;
}

#tr:hover{
	background-color:#E7E7E7;	
}

@media only screen and (hover: none) and (pointer: coarse){
    
	.table-responsive{
		display: table;
		width: 100%;
		font-size: 28px;
	}
	
	main {
	    padding-left: 0;
	    padding-right: 0;
	    font-size: 12px;
	}
	
	.printpdf{
	    display:none;
	}
	
	.bandeira{
		float: left;
	}
	
	ol{
		float: left;
	}

}
